$main-color: #6f5af7;
$secondary-color: #4c73f6;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #0084ff;
$green-color-hover: #5466f0;


$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(17, 10, 214, 0.716), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(86, 65, 183));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);